:root {
    --default-icon-color: #555555;
    --base-color        : #389321;
    --concept-color     : #f8f8f8;

    --archivements-progress-color: #8cff90;

    --not-selected-color    : #5e5e5e;
    --selected-color        : #222222;
    --selected-color-filter : brightness(0) saturate(100%) invert(11%) sepia(2%) saturate(381%) hue-rotate(315deg) brightness(96%) contrast(94%);

    --footer-list-num   : 5;
}

:root {
    --default-font-size : 16px;

    --header-height     : 8vh;
    --footer-height     : 6vh;
}

@media (min-width: 680px) {
    :root {
        --default-font-size: 16px;
    }
}

@media (min-width: 1024px) {
    :root {
        --default-font-size: 16px;
    }
    
}

