@import url(./variable.css);

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: var(--header-height);
    top: 0;
    border-radius: 0px;
    background: #ffffff;
    box-shadow:  8px 8px 60px #d6d6d6,
             -8px -8px 60px #ffffff;
}

header .date {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100%;
}

header .date .date-ymd {
    font-weight: bold;
}

header .date .calendar-icon {
    height: 60%;
    aspect-ratio: 1;
}

header .date .calendar-icon img {
    height: 100%;
    object-fit: contain;
}

header .weather {
    position: absolute;
    right: 0%;
    height: 100%;
    aspect-ratio: 1;
}

header .weather img {
    width: 60%;
    padding: 20%;
}